/* line 1, ../../sass/components/base.scss */
body {
  background: #f5f5f5;
}
/* line 2, ../../sass/components/base.scss */
body header#header {
  background: url(../images/header.png) no-repeat;
  height: 150px;
}

/* line 9, ../../sass/components/base.scss */
h1 {
  text-transform: uppercase;
  color: #009fda;
}
