/* line 1, ../../sass/components/buttons.scss */
a.button {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  color: black;
}

/* line 9, ../../sass/components/buttons.scss */
span#page-turner-bookmark-button,
span.dashboard-buttons a.dashboard-button {
  color: black;
  border: .5em solid #fff;
  background-color: white;
  text-decoration: none;
  padding: .5em .7em;
  margin-right: .5em;
  text-transform: uppercase;
}

/* line 19, ../../sass/components/buttons.scss */
span#page-turner-bookmark-button:hover,
span.dashboard-buttons a.dashboard-button:hover {
  color: #d10074;
  background: #f9e300;
  border: .5em solid #d10074;
}
